<!DOCTYPE html>
<html lang="en" id="home-page-lang">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Stay on Task</title>
  <!-- google fonts -->
  <link href="https://fonts.googleapis.com/css?family=ABeeZee:400i|Prompt:300i&display=swap" rel="stylesheet">
  <!-- jquery -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <!--JavaScript for materialize -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <!-- materialized icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- materialized css -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <!-- our css -->
  {{!-- <link rel="stylesheet" href="../public/styles/styles.css"> --}}
</head>

<body>
  {{{body}}}

  <!--Footer-->
  <footer class="page-footer amber lighten-5">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <p class="grey-text text-darken-2" id="llc">StayOnTask is a product & service by TaskMasters, a 100%
            women owned and run company</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <ul>
            <li><a class="grey-text text-darken-2" href="#!" id="terms">Terms & Conditions</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</body>

</html>