<main>
    <div id="dashboard" class="aboutUs">
        <!-- Navigation bar -->
        <nav class="navigation">
            <div class="container">
                <div class="nav-wrapper ">

                    <!-- Navigation Links -->
                    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="/" class="topNavHome">Home</a></li>
                        <li><a href="/login" class="topNavSearch">Login</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <br>
    <br>
    <div class="container">
        <div class="row">
            <div class="col l12 m12 s12 center">
                <h3 id="contact-h3" class="meet"> The TaskMasters</h3>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col l3 s12 m3">
                <div class="image-container">
                    <img class="responsive-img " src="../public/images/image -Sunny.png">
                </div>
            </div>
            <div class="col s12 m9">
                <h4 class="alf">Sunny Tong</h4>
                <p class="sunny"> New to Motherhood. New to Web Development. Always learning.</p>
            </div>
        </div>

        <br>
        <div class="row">
            <div class="col l3 s12 m3">
                <div class="image-container">
                    <img class="responsive-img " src="../public/images/Elisa_IMG_7663.jpg">
                </div>
            </div>
            <div class="col s12 m9">
                <h4>Elisa Marques</h4>
                <p class="carmenSD"> An advocate for lifelong learning. A self-admitted textbook collector. I have
                    been
                    traveling
                    around the globe since the tender age of 16 and have lived in 3 different countries.
                    Some
                    say that the 90's cartoon character “Carmen SanDiego” was loosely based on me, but who
                    knows. I am a nerd at heart with a huge passion for science, marketing and software
                    development.</p>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col l3 s12 m3">
                <div class="image-container">
                    <img class="responsive-img " src="  ">
                </div>
            </div>
            <div class="col s12 m9">
                <h4>Christin Boner</h4>
                <p class="christin">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur temporibus culpa
                    non consectetur dignissimos nihil sit rem consequatur quo excepturi. Fugit dicta impedit deserunt
                    architecto repellendus maiores sunt, autem ut. </p>
            </div>
        </div>
        <br>
        <br>
</main>