<!-- second page -->
<main>
    <div id="dashboard" class="secondPage ">
        <!-- Navigation bar -->
        <nav class=" navigation">
            <div class="container">
                <div class="nav-wrapper ">

                    <!-- Navigation Links -->
                    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li>Hello, {{ username }}</li>
                        <li><a href="/logout" class="topNavSearch">Log Out</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <br>
    <br>
    <div class="container">
        <div class="col l12 center">
            <a class="bigButtons waves-effect waves-light btn-large " href="/projects"><i
                    class="material-icons right">expand_more</i> <span id="add-project">Add a Project</span></a>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col s12">
                <table class="striped centered">
                    <thead>
                        <tr class="tabs">
                            <th class="tab col s4"><a class="active" href="#test1">Project Name</a></th>
                            <th class="tab col s4"><a class="active" href="#test2"># of Tasks</a></th>
                            <th class="tab col s4"><a class="active" href="#test4">Complete By</a></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr class="tabs" id="emptyProjects">
                            <td class="tab col s12 text-align">You don't currently have any projects</td>
                        </tr>

                        <tr class="tabs">
                            <td class="tab col s4">Tyler's birthday</td>
                            <td class="tab col s4">4 (/10)</td>
                            <td class="tab col s4">06/22/2020</td>

                        </tr>
                        <tr class="tabs">
                            <td class="tab col s4">Alice's birthday</td>
                            <td class="tab col s4">5 (/10)</td>
                            <td class="tab col s4">03/19/2019</td>
                        </tr>
                        <tr class="tabs">
                            <td class="tab col s4">Alvin's birthday</td>
                            <td class="tab col s4">7 (/10)</td>
                            <td class="tab col s4">11/22/2019</td>
                        </tr>
            </div>
            </tbody>
            </table>

        </div>
    </div>
</main>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- our javascript -->
{{!-- <script src="../public/js/index.js"></script> --}}
<script type="text/javascript" src="../public/js/materialize.js"></script>

<style>
    #emptyProjects {
        display: none;
    }
</style>