<!-- second page -->
<main>
    <div id="dashboard" class="secondPage ">
        <!-- Navigation bar -->
        <nav class=" navigation">
            <div class="container">
                <div class="nav-wrapper ">
                    <!-- Navigation Links -->
                    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li>Hello, {{ username }}</li>
                        <li><a href="/logout" class="topNavSearch">Log Out</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <ul class="sidenav" id="mobile-demo">
            <li>Hello, {{ username }}</li>
            <li><a href="/logout" class="topNavSearch">Log Out</a></li>
        </ul>
    </div>
    <br>
    <br>
    <div class="container">
        <div class="col l12 center">
            <a class="bigButtons waves-effect waves-light btn-large " href="/newprojects"><i
                    class="material-icons right">expand_more</i> <span id="add-project">Add a Project</span></a>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col s12">
                <table class="striped centered">
                    <thead>
                        <tr class="tabs">
                            <th class="tab col s3 l5"><a class="active" href="#test1">Project Name</a></th>
                            <th class="tab col s3 l3"><a class="active" href="#test2">Completed Tasks</a></th>
                            <th class="tab col s3 l3"><a class="active" href="#test4">Complete By</a></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr class="tabs s3 l3" id="emptyProjects">
                            <td class="tab col s12 text-align">You don't currently have any projects</td>
                        </tr>
                        {{!-- 
                        <tr class="tabs">
                            <td class="tab col s4">Tyler's birthday</td>
                            <td class="tab col s4">4 (/10)</td>
                            <td class="tab col s4">06/22/2020</td>

                        </tr>--}}
            </div>
            </tbody>
            </table>
    
        </div>
    </div>
</main>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="../js/materialize.js"></script>
<script>
    $(document).ready(function () {
        $.get("/projects", function (data) {

            if (data.length > 0) {
                $("#emptyProjects").css("display", "none");
                for (var i = 0; i < data.length; i++) {
                    var trEle = $("<tr>");
                    trEle.addClass("tabs");
                    var tdName = $("<td>");
                    tdName.addClass("tab col s3 l5");

                    var aEle = $("<a>");
                    aEle.attr("href", "/projects/" + data[i].id)
                    aEle.text(data[i].name);

                    tdName.append(aEle);

                    var tdTask = $("<td>");
                    tdTask.addClass("tab col s3 l3");
                    tdTask.text(data[i].completedTasks + " (/" + data[i].totalTasks + ")");
                    var tdDate = $("<td>");
                    tdDate.addClass("tab col s3 l3");
                    tdDate.text(data[i].projectDate);
                    var tdDelete = $("<td>");
                    tdDelete.addClass("tab col s3 l1");
                    var button = $("<button>");
                    button.addClass("delete-project-btn waves-effect waves-light btn btn-small red");
                    button.attr("data-projectid", data[i].id);
                    button.text("DELETE");
                    tdDelete.append(button);

                    trEle.append(tdName, tdTask, tdDate, tdDelete);

                    $("tbody").append(trEle);
                }
            }
            else {
                $("#emptyProjects").css("display", "block");
            }
        });


        $(document).on("click", ".delete-project-btn", function () {
            var projectId = $(this).attr("data-projectid");

            $.ajax({
                method: "DELETE",
                url: "/projects/" + projectId
            })
                .then(function () {
                    window.location.href = "/dashboard";
                });
        })

    });
</script>