<!-- second page -->
<main>
    <div id="dashboard" class="secondPage ">
        <!-- Navigation bar -->
        <nav class=" navigation">
            <div class="container">
                <div class="nav-wrapper ">

                    <!-- Navigation Links -->
                    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href=" " class="topNavHome">User Name</a></li>
                        <li><a href=" " class="topNavSearch">Log Out</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <br>
    <br>
    <div class="container">
        <div class="col s6">
            <a class="bigButtons waves-effect waves-light btn-large " href="/projects"><i
                    class="material-icons right">expand_more</i> <span id="add-project">Add Project</span></a>
        </div>
        <br>
        <br>

        <div class="row">
            <div class="col s12">
                <ul class="tabs">
                    <li class="tab col s4"><a class="active" href="#test1">Project Name</a> Project Name</li>
                    <li class="tab col s4"><a class="active" href="#test2"># of Tasks</a></li>
                    <li class="tab col s4"><a class="active" href="#test4">Date</a></li>
                </ul>
            </div>
            <div class="col s12">
                <div class="tabs">
                    <div id="test1" class="col s4">Test 1</div>
                </div>

            </div>

        </div>

</main>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- our javascript -->
{{!-- <script src="../public/js/index.js"></script> --}}
<script type="text/javascript" src="../public/js/materialize.js"></script>