<!-- first page -->
<main>
    <div id="homePage" class="firstPage ">
        <!-- Navigation bar -->
        <nav class=" navigation">
            <div class="container">
                <div class="nav-wrapper ">

                    <!-- Navigation Links -->
                    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href=" " class="topNavHome">Home</a></li>
                        <li><a href="/login" class="topNavSearch">Login</a></li>
                        <li><a href=" " class="topNavContact">About Us</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            <!-- section with slogan -->
            <section class="main-section">
                <div class="row">
                    <div class="col l8 m9 s12">
                        <div class="centerText">
                            <h1 class="welcome">Stay on Task</h1>
                            <h3 class="onePatient">a roadmap to completion</h3>
                            <a class="bigButtons waves-effect waves-light btn-large " href="/login"><i
                                    class="material-icons right">expand_more</i> <span id="project">Get
                                    Started</span></a>
                        </div>
                    </div>
                </div>
        </div>
        </section>
    </div>
    

</main>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- our javascript -->
{{!-- <script src="../public/js/index.js"></script> --}}
<script type="text/javascript" src="../public/js/materialize.js"></script>