<!-- first page -->
<main id="homePage">
    <div class="firstPage">
        <!-- Navigation bar -->
        <nav class="navigation ">
            <div class="container">
                <div class="nav-wrapper">
                    <!-- Navigation Links -->
                    <a href="../images/list-2389219_1280.png" data-target="mobile-demo" class="sidenav-trigger"><i
                            class="material-icons">menu</i></a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="/" class="topNavHome">Home</a></li>
                        <li><a href="/login" class="topNavSearch">Login</a></li>
                        <li><a href="/aboutUs" class="topNavContact">About Us</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <ul class="sidenav" id="mobile-demo">
            <li><a href="/" class="topNavHome">Home</a></li>
            <li><a href="/login" class="topNavSearch">Login</a></li>
            <li><a href="/aboutUs" class="topNavContact">About Us</a></li>
        </ul>

        <div id="road">
            <!-- section with slogan -->
            <section class="main-section">
                <div class="row">
                    <div class="col l12 m12 s12 ">
                        <div class="centerText">
                            <h1 class="welcome">StayingOnTask</h1>
                            <h3 class="road">A roadmap to completing your projects</h3>
                            <a class="bigButtons waves-effect waves-light btn-large " id="showMeRoad" href="/login"><i
                                    class="material-icons right">expand_more</i> <span>Show Me The Road</span></a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>


</main>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="../js/materialize.js"></script>