<main>
  <div id="login">
    <!-- Navigation bar -->
    <nav class=" navigation">
      <div class="container">
        <div class="nav-wrapper ">
          <!-- Navigation Links -->
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/" class="topNavHome">Home</a></li>
            <li><a href="/aboutUs" class="topNavSearch">About Us</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <ul class="sidenav" id="mobile-demo">
      <li><a href="/" class="topNavHome">Home</a></li>
      <li><a href="/aboutUs" class="topNavSearch">About Us</a></li>
    </ul>
  </div>
  <br>
  <br>
  <div class="container">
    <form class="login">
      <div class="row">
        <div class="input-field col l6 s12">
          <input id="user-name" name="userName" type="text">
          <label for="user-name"><span id="ast">* </span>User Name</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col l6 s12">
          <input id="password" name="password" type="password">
          <label for="password"><span id="ast">* </span>Password</label>
        </div>
      </div>

      <button class="btn waves-effect waves-light" type="submit" name="action">Login
        <i class="material-icons right">send</i>
      </button>

    </form>
    <br />
    <p>No account yet? Please sign up <a href="/signup">here</a></p>
  </div>
  </div>
</main>
<!-- modal alert -->
<div id="modal1" class="modal">
  <div class="modal-content red-text">
    <h4>User Name or Password is wrong!</h4>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<script>
  $(document).ready(function () {
    // Getting references to our form and inputs
    var loginForm = $("form.login");
    var usernameInput = $("input#user-name");
    var passwordInput = $("input#password");

    // When the form is submitted, we validate there's an username and password entered
    loginForm.on("submit", function (event) {
      event.preventDefault();
      var userData = {
        userName: usernameInput.val().trim(),
        password: passwordInput.val().trim()
      };

      if (!userData.userName || !userData.password) {
        return;
      }

      // If we have an username and password we run the loginUser function and clear the form
      loginUser(userData);
      usernameInput.val("");
      passwordInput.val("");
    });

    // loginUser does a post to our "api/login" route and if successful, redirects us the the dashboard page
    function loginUser(userObj) {
      $.post("/api/login", userObj)
        .then(function () {
          window.location.replace("/dashboard");
        })
        .catch(function (err) {
          show_modal("modal1");
          setTimeout(function () { hide_modal("modal1"); }, 3000);
        });
    }


    function show_modal(modalID) {
      $('#' + modalID).modal();
      $('#' + modalID).modal('open');
    }


    function hide_modal(modalID) {
      $('#' + modalID).modal('close');
    }

  });

</script>