<main>
    <div id="dashboard" class="thirdPage ">
        <!-- Navigation bar -->
        <nav class=" navigation">
            <div class="container">
                <div class="nav-wrapper ">
                    <!-- Navigation Links -->
                    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li>Hello, {{ username }}</li>
                        <li><a href="/dashboard" class="topNavSearch">Dashboard</a></li>
                        <li><a href="/logout" class="topNavSearch">Log Out</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <br>
    <br>
    <div class="container">
        <div class="row">
            <form class="col s12" action="/projects" method="post">
                <div class="row">
                    <div class="input-field col s12">
                        <label for="creator-name"><span id="ast">* </span>Project(Event) Name</label>
                        <input id="creator-name" placeholder="Project(Event) Name" name="name" type="text">

                    </div>
                </div>
              <div class="row">
                    <div class="input-field col s12">
                        <label for="new-date"><span id="ast">* </span>Project(Event) Date</label>
                        <input id="new-date" placeholder="MM/DD/YYYY" name="projectDate" type="text">
                    </div>
               </div>
          <div class="row">
                    <div class="input-field col s12">
                        <label for="description">Description</label>
                        <input id="description" placeholder="Description" name="description" type="text">

                    </div>
             </div>
                <!-- Select Project(Event) Type -->
                <div class="row">
                    <div class="input-field col s12">
                        <select name="ProjectTypeId">
                            <option value="" disabled selected>Choose your option</option>
                            <option value="1">Birthday Party</option>
                            <option value="2">Wedding</option>
                        </select>
                        <label><span id="ast">* </span>Project(Event) Type</label>
                    </div>
               </div>
                <br><br>
                 <button class="btn waves-effect waves-light" type="submit">Submit
    <i class="material-icons right">send</i>
  </button>
            </form>
        </div>
    </div>
     <br>
            <br>
</main>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>

    $(document).ready(function () {
        $('select').formSelect();
    });
</script>