<main>
    <div id="signup">
        <!-- Navigation bar -->
        <nav class=" navigation">
            <div class="container">
                <div class="nav-wrapper ">

                    <!-- Navigation Links -->
                    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="/" class="topNavHome">Home</a></li>
                        <li><a href="/aboutUs" class="topNavSearch">About Us</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <ul class="sidenav" id="mobile-demo">
            <li><a href="/" class="topNavHome">Home</a></li>
            <li><a href="/aboutUs" class="topNavSearch">About Us</a></li>
        </ul>
    </div>
    <br>
    <br>

    <div class="container">
        <form class="signup">
            <div class="row">
                <div class="input-field col l6 s12">
                     <i class="material-icons prefix">contacts</i>
                    <input id="user-name" name="userName" type="text">
                    <label for="user-name"><span id="ast">* </span>User Name</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col l6 s12">
                    <i class="material-icons prefix">lock</i>
                    <input id="password" name="password" type="password">
                    <label for="password"><span id="ast">* </span>Password</label>
                </div>
            </div>

            <a class="btn waves-effect waves-light" id="signup-btn">Sign Up 
                <i class="material-icons right">verified_user</i></a>
        </form>
    </div>

    <!-- modal alert -->
    <div id="modal2" class="modal">
        <div class="modal-content red-text">
            <h4>User Name is taken!</h4>
        </div>
    </div>

</main>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<script>
    $(document).ready(function () {
        // Getting references to our form and input
        var usernameInput = $("input#user-name");
        var passwordInput = $("input#password");
        $("#signup-btn").on("click", function (event) {
            event.preventDefault();
            var userData = {
                userName: usernameInput.val().trim(),
                password: passwordInput.val().trim()
            };
            if (!userData.userName || !userData.password) {
                return;
            }

            signUpUser(userData);
            usernameInput.val("");
            passwordInput.val("");
        });

        function signUpUser(userObj) {
            $.post("/api/signup", userObj)
                .then(function (data) {
                    window.location.replace("/dashboard");
                }).catch(function (error) {
                    show_modal("modal2");
                    setTimeout(function () { hide_modal("modal2"); }, 3000);
                });
        }
        function show_modal(modalID) {
            $('#' + modalID).modal();
            $('#' + modalID).modal('open');
        }
        function hide_modal(modalID) {
            $('#' + modalID).modal('close');
        }
    });
</script>