
html {
  position: relative;
  min-height: 100%;
}
body {
  margin: 0 0 100px; /* bottom = footer height */
}
.page-footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
}


#homePage {
  height: 600px;
  width: auto;
  background: url(../images/road-220058_1280.jpg) no-repeat center center fixed;
  background-size: cover;
}

#road {
  text-align: center;
}

.centerText {
  margin-top: 100px;
}

#project {
  margin-bottom: 200px
}

@media only screen and (max-width: 941px) {
  
  #homePage {
    height: 600px;
    width: auto;
    background: url(../images/road-220058_1280.jpg) no-repeat center center fixed;
    background-size: cover;
  }

#emptyProjects {
    display: none;
}

#road {
  text-align: center;
}

.centerText {
  margin-top: 100px;
}
}

.navigation {
  background-color: #009688;
}

.task-item {
  overflow: auto;
  overflow-y: hidden;
  margin-top: 10px;
}
.task-item1{
  margin-top: 10px;
}
.task-name {
padding-top: 20px;
}

